
@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organization</h2>
<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" id="btnOrganization">Click me!</button>
    </div>
</div>
<div id="chart-container"></div>

@Html.Hidden("GetOrganization", Html.Raw(Url.Action("GetOrganization", "Organization")))
